
### TLDR

Create tables `products` and `orders` in `my_catalog.prod`. Insert some data into them.

In [0]:
USE CATALOG my_catalog;
USE SCHEMA prod;

In [0]:
CREATE OR REPLACE TABLE products (
  product_id INT,
  product_name STRING,
  category STRING,
  price DOUBLE
);

In [0]:
INSERT INTO products 
    (product_id, product_name, category, price)
VALUES 
    (101, 'Pro Tennis Racket', 'Equipment', 199.99),
    (102, 'Tennis Balls 3-Pack', 'Equipment', 5.50),
    (103, 'Court Shoes', 'Apparel', 85.00),
    (104, 'Sweatband', 'Apparel', 12.00),
    (105, 'Tennis Bag', 'Accessories', 45.00),
    (106, 'Overgrip 12-Pack', 'Accessories', 18.50),
    (107, 'String Reel', 'Equipment', 120.00);

In [0]:
CREATE OR REPLACE TABLE orders (
  order_id INT,
  customer_id INT,
  product_id INT,
  quantity INT,
  order_date STRING
);

In [0]:
INSERT INTO orders 
    (order_id, customer_id, product_id, quantity, order_date)
VALUES 
    -- 2026 Q1 Data
    (1001, 1, 101, 1, '2026-01-05'),
    (1002, 2, 102, 4, '2026-01-06'),
    (1003, 1, 105, 1, '2026-01-10'),
    (1004, 3, 103, 1, '2026-01-12'),
    (1005, 4, 101, 1, '2026-01-15'),
    (1006, 2, 106, 2, '2026-01-20'),
    (1007, 5, 102, 10, '2026-01-22'),
    (1008, 6, 104, 2, '2026-01-25'),
    (1009, 7, 107, 1, '2026-01-28'),
    (1010, 1, 102, 2, '2026-02-01'),
    -- Duplicate for Deduplication Practice
    (1001, 1, 101, 1, '2026-01-05'), 
    -- 2025 Historical Data
    (990, 3, 101, 1, '2025-12-15'),
    (991, 5, 103, 1, '2025-12-20');

In [0]:
-- Add 5 inserts into orders table, Add 2 new products in products table

INSERT INTO orders 
    (order_id, customer_id, product_id, quantity, order_date)
VALUES 
    (1011, 8, 104, 1, '2026-02-05'),
    (1012, 9, 105, 1, '2026-02-10'),
    (1013, 10, 106, 1, '2026-02-15'),
    (1014, 11, 108, 2, '2026-02-20'),
    (1015, 12, 102, 1, '2026-02-25');

INSERT INTO products 
    (product_id, product_name, category, price)
VALUES 
    (108, 'Tennis Shoes', 'Apparel', 120.00),
    (109, 'Tennis Gloves', 'Equipment', 35.00);